**/.classpath
**/.dockerignore
**/.env
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.metals
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/*.pdf
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/checkmate-binary
**/release
*.md
*.txt
*.sh
